
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#page-container{
    position: relative;
    min-height: 84vh;
}

/* Section styles */

.section {
    padding: 2rem 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section h3 {
    padding-bottom: 1rem;
}

.section p {
    line-height: 1.6;
}

.workout-type {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workout-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.single-workout {
    margin: 2rem 2rem;
}

.single-workout h1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1rem;
}


/* Navbar */
.navbar {
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
font-size: 1.2rem;
min-height: 80px;

}

.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: #89c8f1 !important;
}

/* Progress Bar */
.progress-bar {
    height: 5px;
    background: $primary;
    margin-top: 20px;
}

/* image grid styles */
.img-grid{
    width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 110%;
  position: absolute;
  top: 0;
  left: 0;
}



