.training-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;

}

.training-section > h5 {
    padding-bottom: 1rem;
}

.btn-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    button {
        width: 15rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
    }
}

.single-workout {
    text-align: center;
}