.training-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}

.training-section > h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.btn-section{
    display: flex;
    flex-direction: row;
}

.btn-section > button {
 padding: 1rem 2rem;
    background-color: var(--background);
    color: white;
    font-size: 1rem;
    border: none;
    margin: 0.5rem;
    border-radius: 5px;
    margin: 1rem 0.5rem;
}

/* .training-btn {
    padding: 1rem 2rem;
    background-color: var(--background);
    color: white;
    font-size: 1rem;
    border: none;
    margin: 0.5rem;
    border-radius: 5px;
    margin: 1rem 0.5rem;
} */

.btn-section > button:hover, .active-btn {
    background-color: var(--primary);
}
