:root {
    --primary: #6ebee0;
    --background: #000851;
}

.NavbarItems {
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
height: 8vh;
}

.navbar-logo {
    color: white;
    justify-self: start;
    margin-left: 2rem;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: var(--primary);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.fa-bars {
    color: white;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 8vh;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: var(--background);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: var(--primary);
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: white;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: white;
        text-decoration: none;
        color: var(--background);
    }

    .nav-links-mobile:hover {
        background: var(--primary);
        color: white;
        transition: all 0.2s ease;
    }

    Button {
        display: none;
    }
}