* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#heading {
    text-align: center;
    font-size: 3rem;
    padding-top: 1.5rem;
}

.workout-container {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workout-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.single-workout {
    margin: 2rem 2rem;
}

.single-workout h1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1rem;
}