* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.workout-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.single-workout {
    margin: 2rem 2rem;
}

.single-workout h1 {
    text-align: center;
    padding-bottom: 1rem;
}