:root {
    --primary: #6ebee0;
    --background: #000851;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#heading {
    text-align: center;
    font-size: 3rem;
    padding-top: 1.5rem;
}

.workout-type {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workout-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.single-workout {
    margin: 2rem 2rem;
}

.single-workout h1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1rem;
}


/* Navbar */
.navbar {
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
height: 8vh;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: var(--primary);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.navbar-logo i {
    color: white;
}